.main{
    margin-top: 200px;
    /* text-align: center; */
}

/* set google logo to 300px */
.logo_img{
    width: 300px;
    display: block;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

}

/* set the image size to 400px */
.search_input{
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: 24px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
 
}

 .btn{  /*by default button is in-line */
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid #dfe1e5;
    background:#dfe1e5 ;
    border-radius: 4px;
    font-size: 14px;

}
 
.btn_wrapper{
    display: flex;
    justify-content: center;

}